<?xml version="1.0" encoding="utf-8"?>

<robot
  name="drone">
  <gazebo>
	  <plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">
	  <robotNamespace>/drone</robotNamespace>
  	  </plugin>
  </gazebo>
  <link name="dummy">
  </link>
  <link
    name="drone_body">
    <inertial>
      <origin
        xyz="6.90261175689821E-07 -7.76402158900379E-17 -0.00708554037270278"
        rpy="0 0 0" />
      <mass
        value="0.167539145797033" />
      <inertia
        ixx="0.000214883795512909"
        ixy="0"
        ixz="0"
        iyy="0.000668478544648389"
        iyz="0"
        izz="0.00067364768411918" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://drone_description/meshes/drone_body.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://drone_description/meshes/drone_body.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="dummy_joint" type='fixed'>
	  <parent link="dummy"/>
	  <child link='drone_body'/>
  </joint>
  <link
    name="front_arm">
    <inertial>
      <origin
        xyz="1.14492907365982E-06 1.09344178617796E-10 -0.000555918350244255"
        rpy="0 0 0" />
      <mass
        value="0.0710004012196545" />
      <inertia
        ixx="0.000168398796233936"
        ixy="0"
        ixz="3.09362417973379E-09"
        iyy="4.23355717997767E-06"
        iyz="0"
        izz="0.000166895622284156" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://drone_description/meshes/front_arm.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://drone_description/meshes/front_arm.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="front_arm_joint"
    type="continuous">
    <origin
      xyz="0.132700704261176 0 -0.00475833781314276"
      rpy="0 0 0" />
    <parent
      link="drone_body" />
    <child
      link="front_arm" />
    <axis
      xyz="0 1 0" />
    <safety_controller
      k_velocity="0" />
  </joint>
  <link
    name="front_right_prop">
    <inertial>
      <origin
        xyz="-3.26936723760163E-06 0 0.00158749663345718"
        rpy="0 0 0" />
      <mass
        value="0.00504005698984341" />
      <inertia
        ixx="1.27163288662511E-06"
        ixy="0"
        ixz="0"
        iyy="1.2716275291741E-06"
        iyz="0"
        izz="2.5347818801483E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://drone_description/meshes/front_right_prop.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://drone_description/meshes/front_right_prop.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="front_right_prop_joint"
    type="continuous">
    <origin
      xyz="-3.92324068519967E-05 -0.1325 0.0190499596014851"
      rpy="0 0 0" />
    <parent
      link="front_arm" />
    <child
      link="front_right_prop" />
    <axis
      xyz="-0.00205944392919794 0 0.999997879343103" />
    <safety_controller
      k_velocity="0" />
  </joint>
  <link
    name="front_left_prop">
    <inertial>
      <origin
        xyz="-3.26936723760163E-06 0 0.00158749663345718"
        rpy="0 0 0" />
      <mass
        value="0.00504005698984342" />
      <inertia
        ixx="1.27163288662511E-06"
        ixy="0"
        ixz="0"
        iyy="1.2716275291741E-06"
        iyz="0"
        izz="2.5347818801483E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://drone_description/meshes/front_left_prop.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://drone_description/meshes/front_left_prop.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="front_left_prop_joint"
    type="continuous">
    <origin
      xyz="-3.9232E-05 0.1325 0.01905"
      rpy="0 0 0" />
    <parent
      link="front_arm" />
    <child
      link="front_left_prop" />
    <axis
      xyz="-0.0020594 0 1" />
    <safety_controller
      k_velocity="0" />
  </joint>
  <link
    name="back_arm">
    <inertial>
      <origin
        xyz="-3.942E-07 -3.7693E-11 -0.00055592"
        rpy="0 0 0" />
      <mass
        value="0.071" />
      <inertia
        ixx="0.0001684"
        ixy="0"
        ixz="0"
        iyy="4.2336E-06"
        iyz="0"
        izz="0.0001669" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://drone_description/meshes/back_arm.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.75294 0.75294 0.75294 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://drone_description/meshes/back_arm.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="back_arm_joint"
    type="continuous">
    <origin
      xyz="-0.1327 0 0.015242"
      rpy="0 0 0" />
    <parent
      link="drone_body" />
    <child
      link="back_arm" />
    <axis
      xyz="0 -1 0" />
    <safety_controller
      k_velocity="0" />
  </joint>
  <link
    name="back_right_prop">
    <inertial>
      <origin
        xyz="1.1259E-06 -2.7756E-17 0.0015875"
        rpy="0 0 0" />
      <mass
        value="0.0050401" />
<inertia
	ixx="1.27162816455521E-06"
        ixy="0"
        ixz="0"
        iyy="1.27162752917409E-06"
        iyz="0"
        izz="2.5347866022182E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://drone_description/meshes/back_right_prop.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://drone_description/meshes/back_right_prop.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="back_right_prop_joint"
    type="continuous">
    <origin
      xyz="1.35108601621321E-05 -0.1325 0.0190499952088356"
      rpy="0 0 0" />
    <parent
      link="back_arm" />
    <child
      link="back_right_prop" />
    <axis
      xyz="0.000709231504572137 0 0.999999748495305" />
    <safety_controller
      k_velocity="0" />
  </joint>
  <link
    name="back_left_prop">
    <inertial>
      <origin
        xyz="1.12590501349756E-06 0 0.0015874996007363"
        rpy="0 0 0" />
      <mass
        value="0.00504005698984341" />
      <inertia
        ixx="1.27162816455521E-06"
        ixy="0"
        ixz="0"
        iyy="1.2716275291741E-06"
        iyz="0"
        izz="2.5347866022182E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://drone_description/meshes/back_left_prop.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://drone_description/meshes/back_left_prop.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="back_left_prop_joint"
    type="continuous">
    <origin
      xyz="1.35108601620748E-05 0.1325 0.0190499952088355"
      rpy="0 0 0" />
    <parent
	    link="back_arm" />
    <child
      link="back_left_prop" />
    <axis
      xyz="0.000709231504572137 0 0.999999748495305" />
    <safety_controller
      k_velocity="0" />
  </joint>
   <transmission name="front_arm_transmission">
	  <type>transmission_interface/SimpleTransmission</type>
	  <joint name="front_arm_joint">
		<hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
	  </joint>
	  <actuator name="front_arm_motor">
		<hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
	  <mechanicalReduction>1</mechanicalReduction>
  	  </actuator>
  </transmission>
  <transmission name="back_arm_transmission">
	  <type>transmission_interface/SimpleTransmission</type>
	  <joint name="back_arm_joint">
		<hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
	  </joint>
	  <actuator name="front_arm_motor">
		<hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
	  <mechanicalReduction>1</mechanicalReduction>
  	  </actuator>
  </transmission>
  <transmission name="front_right_prop_transmission">
	  <type>transmission_interface/SimpleTransmission</type>
	  <joint name="front_right_prop_joint">
		<hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
	  </joint>
	  <actuator name="front_right_motor">
		<hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
	  <mechanicalReduction>1</mechanicalReduction>
  	  </actuator>
  </transmission>
  <transmission name="front_left_prop_transmission">
	  <type>transmission_interface/SimpleTransmission</type>
	  <joint name="front_left_prop_joint">
		<hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
	  </joint>
	  <actuator name="front_left_motor">
		<hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
	  <mechanicalReduction>1</mechanicalReduction>
  	  </actuator>
  </transmission>
  <transmission name="back_right_prop_transmission">
	  <type>transmission_interface/SimpleTransmission</type>
	  <joint name="back_right_prop_joint">
		<hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
	  </joint>
	  <actuator name="back_right_motor">
		<hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
	  <mechanicalReduction>1</mechanicalReduction>
  	  </actuator>
  </transmission>
  <transmission name="back_left_prop_transmission">
	  <type>transmission_interface/SimpleTransmission</type>
	  <joint name="back_left_prop_joint">
		<hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
	  </joint>
	  <actuator name="back_left_motor">
		<hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
	  <mechanicalReduction>1</mechanicalReduction>
  	  </actuator>
  </transmission>
  <gazebo>
	<plugin name='gazebo_ros_force' filename='libgazebo_ros_force.so'>
		<alwaysON>true</alwaysON>
		<update>100</update>
		<updateRate>100.0</updateRate>
		<bodyName>front_right_prop</bodyName>
		<topicName>drone/front_right_motor_thrust</topicName>
	</plugin>
	<plugin name='gazebo_ros_force' filename='libgazebo_ros_force.so'>
		<alwaysON>true</alwaysON>
		<update>100</update>
		<updateRate>100.0</updateRate>
		<bodyName>front_left_prop</bodyName>
		<topicName>drone/front_left_motor_thrust</topicName>
	</plugin>
	<plugin name='gazebo_ros_force' filename='libgazebo_ros_force.so'>
		<alwaysON>true</alwaysON>
		<update>100</update>
		<updateRate>100.0</updateRate>
		<bodyName>back_right_prop</bodyName>
		<topicName>drone/back_right_motor_thrust</topicName>
	</plugin>
	<plugin name='gazebo_ros_force' filename='libgazebo_ros_force.so'>
		<alwaysON>true</alwaysON>
		<update>100</update>
		<updateRate>100.0</updateRate>
		<bodyName>back_left_prop</bodyName>
		<topicName>drone/back_left_motor_thrust</topicName>
	</plugin>
	<plugin name='gazebo_ros_force' filename='libgazebo_ros_force.so'>
		<alwaysON>true</alwaysON>
		<update>100</update>
		<updateRate>100.0</updateRate>
		<bodyName>drone_body</bodyName>
		<topicName>drone/drone_body_force</topicName>
	</plugin>
	<plugin name="imu_controller" filename="libgazebo_ros_imu.so">
		<alwaysON>true</alwaysON>
		<update>100</update>
		<updateRate>50.0</updateRate>
		<bodyName>drone_body</bodyName>
		<topicName>drone/imu_data</topicName>
		<gaussianNoise>2.89e-08</gaussianNoise>
		<xyzOffsets> 0 0 0 </xyzOffsets>
		<rpyOffsets> 0 0 0 </rpyOffsets>
	</plugin>
  </gazebo>
</robot>
