<?xml version="1.0" encoding="utf-8"?>
<robot
	name="drone">

<gazebo>
          <plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">
          <robotNamespace>/drone</robotNamespace>
          </plugin>
  </gazebo>
  <link name="dummy">
  </link>

  <link
    name="drone_body">
    <inertial>
      <origin
        xyz="0.00037727 2.8986E-05 -0.0075029"
        rpy="0 0 0" />
      <mass
        value="0.35742" />
      <inertia
        ixx="0.00043822"
        ixy="0.0001092"
        ixz="0"
        iyy="0.0016768"
        iyz="0"
        izz="0.0016916" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
		filename="package://drone_description/meshes/drone_body.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.75294 0.75294 0.75294 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
		filename="package://drone_description/meshes/drone_body.STL" />
      </geometry>
    </collision>
  </link>

  <joint name="dummy_joint" type='fixed'>
          <parent link="dummy"/>
          <child link='drone_body'/>
  </joint>


  <link
    name="front_arm">
    <inertial>
      <origin
        xyz="-3.3282E-07 0.0052885 -4.2308E-12"
        rpy="0 0 0" />
      <mass
        value="0.048886" />
      <inertia
        ixx="0.0001324"
        ixy="-4.9957E-13"
        ixz="-7.3903E-13"
        iyy="0.00013238"
        iyz="-2.4737E-17"
        izz="2.6042E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
		filename="package://drone_description/meshes/front_arm.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.75294 0.75294 0.75294 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
		filename="package://drone_description/meshes/front_arm.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="front_arm_joint"
    type="continuous">
    <origin
      xyz="0.13275334064868 -0.00722327848964719 -0.00540264439683487"
      rpy="1.5707963267949 0 0" />
    <parent
      link="drone_body" />
    <child
      link="front_arm" />
    <axis
      xyz="0 0 -1" />
    <safety_controller
      k_velocity="0" />
  </joint>
  <link
    name="front_right_prop">
    <inertial>
      <origin
        xyz="2.7756E-17 -2.7756E-17 0.0015875"
        rpy="0 0 0" />
      <mass
        value="0.0050401" />
      <inertia
        ixx="1.2716E-06"
        ixy="0"
        ixz="0"
        iyy="1.2716E-06"
        iyz="0"
        izz="2.5348E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
		filename="package://drone_description/meshes/front_right_prop.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
		filename="package://drone_description/meshes/front_right_prop.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="front_right_prop_joint"
    type="continuous">
    <origin
      xyz="0 0.01905 0.1325"
      rpy="-1.5708 0 6.2965E-05" />
    <parent
      link="front_arm" />
    <child
      link="front_right_prop" />
    <axis
      xyz="0 0 1" />
    <safety_controller
      k_velocity="0" />
  </joint>
  <link
    name="front_left_prop">
    <inertial>
      <origin
        xyz="0 0 0.0015875"
        rpy="0 0 0" />
      <mass
        value="0.0050401" />
      <inertia
        ixx="1.2716E-06"
        ixy="0"
        ixz="0"
        iyy="1.2716E-06"
        iyz="0"
        izz="2.5348E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
		filename="package://drone_description/meshes/front_left_prop.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
		filename="package://drone_description/meshes/front_left_prop.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="front_left_prop_joint"
    type="continuous">
    <origin
      xyz="0 0.01905 -0.1325"
      rpy="-1.5708 0 6.2965E-05" />
    <parent
      link="front_arm" />
    <child
      link="front_left_prop" />
    <axis
      xyz="0 0 1" />
    <safety_controller.
      k_velocity="0" />
  </joint>
  <link
    name="front_right_wing">
    <inertial>
      <origin
        xyz="-2.5687E-07 -6.6962E-07 8.5569E-05"
        rpy="0 0 0" />
      <mass
        value="0.010641" />
      <inertia
        ixx="3.2224E-05"
        ixy="8.3423E-12"
        ixz="4.4033E-13"
        iyy="1.0035E-06"
        iyz="0"
        izz="3.1435E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
		filename="package://drone_description/meshes/front_right_wing.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.84314 0.81569 0.75294 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
		filename="package://drone_description/meshes/front_right_wing.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="front_right_wing_joint"
    type="fixed">
    <origin
      xyz="0 -0.017018 0.1325"
      rpy="-1.5708 0 6.2965E-05" />
    <parent
      link="front_arm" />
    <child
      link="front_right_wing" />
    <axis
      xyz="0 0 0" />
    <safety_controller
      k_velocity="0" />
  </joint>
  <link
    name="front_left_wing">
    <inertial>
      <origin
        xyz="2.5685E-07 6.6962E-07 8.5569E-05"
        rpy="0 0 0" />
      <mass
        value="0.010641" />
      <inertia
        ixx="3.2224E-05"
        ixy="8.3423E-12"
        ixz="-4.4367E-13"
        iyy="1.0035E-06"
        iyz="0"
        izz="3.1435E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
		filename="package://drone_description/meshes/front_left_wing.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.84314 0.81569 0.75294 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
		filename="package://drone_description/meshes/front_left_wing.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="front_left_wing_joint"
    type="fixed">
    <origin
      xyz="0 -0.017018 -0.1325"
      rpy="-1.5708 0 6.2965E-05" />
    <parent
      link="front_arm" />
    <child
      link="front_left_wing" />
    <axis
      xyz="0 0 0" />
    <safety_controller
      k_velocity="0" />
  </joint>
  <link
    name="back_arm">
    <inertial>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <mass
        value="0" />
      <inertia
        ixx="0"
        ixy="0"
        ixz="0"
        iyy="0"
        iyz="0"
        izz="0" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
		filename="package://drone_description/meshes/back_arm.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
		filename="package://drone_description/meshes/back_arm.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="back_arm_joint"
    type="continuous">
    <origin
      xyz="-0.131247051222321 0.015873762965467 0.014597315603165"
      rpy="1.5707963267949 0 -0.174532925199433" />
    <parent
      link="drone_body" />
    <child
      link="back_arm" />
    <axis
      xyz="0 0 1" />
    <safety_controller
      k_velocity="0" />
  </joint>
  <link
    name="back_right_prop">
    <inertial>
      <origin
        xyz="0 0 0.0015875"
        rpy="0 0 0" />
      <mass
        value="0.0050401" />
      <inertia
        ixx="1.2716E-06"
        ixy="0"
        ixz="0"
        iyy="1.2716E-06"
        iyz="0"
        izz="2.5348E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
		filename="package://drone_description/meshes/back_right_prop.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
		filename="package://drone_description/meshes/back_right_prop.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="back_right_prop_joint"
    type="continuous">
    <origin
      xyz="3.64629030858155E-05 0.0190499651038184 0.1325"
      rpy="-1.5707963267949 0 -0.00191406432285098" />
    <parent
      link="back_arm" />
    <child
      link="back_right_prop" />
    <axis
      xyz="0 0 1" />
    <safety_controller
      k_velocity="0" />
  </joint>
  <link
    name="back_left_prop">
    <inertial>
      <origin
        xyz="0 0 0.0015875"
        rpy="0 0 0" />
      <mass
        value="0.0050401" />
      <inertia
        ixx="1.2716E-06"
        ixy="0"
        ixz="0"
        iyy="1.2716E-06"
        iyz="0"
        izz="2.5348E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
		filename="package://drone_description/meshes/back_left_prop.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
		filename="package://drone_description/meshes/back_left_prop.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="back_left_prop_joint"
    type="continuous">
    <origin
      xyz="3.6463E-05 0.01905 -0.1325"
      rpy="-1.5708 0 -0.0019141" />
    <parent
      link="back_arm" />
    <child
      link="back_left_prop" />
    <axis
      xyz="0 0 1" />
    <safety_controller
      k_velocity="0" />
  </joint>
  <link
    name="back_right_wing">
    <inertial>
      <origin
        xyz="1.2166E-08 0 8.4714E-05"
        rpy="0 0 0" />
      <mass
        value="0.010641" />
      <inertia
        ixx="3.2224E-05"
        ixy="8.3423E-12"
        ixz="4.9342E-13"
        iyy="1.0035E-06"
        iyz="0"
        izz="3.1435E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
		filename="package://drone_description/meshes/back_right_wing.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.84314 0.81569 0.75294 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
		filename="package://drone_description/meshes/back_right_wing.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="back_right_wing_joint"
    type="fixed">
    <origin
      xyz="-3.2574E-05 -0.017018 0.1325"
      rpy="-1.5708 0 -0.0019141" />
    <parent
      link="back_arm" />
    <child
      link="back_right_wing" />
    <axis
      xyz="0 0 0" />
    <safety_controller
      k_velocity="0" />
  </joint>
  <link
    name="back_left_wing">
    <inertial>
      <origin
        xyz="-1.1307E-08 -5.5511E-17 8.4714E-05"
        rpy="0 0 0" />
      <mass
        value="0.010641" />
      <inertia
        ixx="3.2224E-05"
        ixy="8.3423E-12"
        ixz="-3.9204E-13"
        iyy="1.0035E-06"
        iyz="0"
        izz="3.1435E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
		filename="package://drone_description/meshes/back_left_wing.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.84314 0.81569 0.75294 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
		filename="package://drone_description/meshes/back_left_wing.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="back_left_wing_joint"
    type="fixed">
    <origin
      xyz="-3.2574E-05 -0.017018 -0.1325"
      rpy="-1.5708 0 -0.0019141" />
    <parent
      link="back_arm" />
    <child
      link="back_left_wing" />
    <axis
      xyz="0 0 0" />
    <safety_controller
      k_velocity="0" />
  </joint>

<transmission name="front_arm_transmission">
          <type>transmission_interface/SimpleTransmission</type>
          <joint name="front_arm_joint">
                <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
          </joint>
          <actuator name="front_arm_motor">
                <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
          <mechanicalReduction>1</mechanicalReduction>
          </actuator>
  </transmission>
  <transmission name="back_arm_transmission">
          <type>transmission_interface/SimpleTransmission</type>
          <joint name="back_arm_joint">
                <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
          </joint>
          <actuator name="front_arm_motor">
                <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
          <mechanicalReduction>1</mechanicalReduction>
          </actuator>
  </transmission>
  <transmission name="front_right_prop_transmission">
          <type>transmission_interface/SimpleTransmission</type>
          <joint name="front_right_prop_joint">
                <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
          </joint>
          <actuator name="front_right_motor">
                <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
          <mechanicalReduction>1</mechanicalReduction>
          </actuator>
  </transmission>
  <transmission name="front_left_prop_transmission">
          <type>transmission_interface/SimpleTransmission</type>
          <joint name="front_left_prop_joint">
                <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
          </joint>
          <actuator name="front_left_motor">
                <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
          <mechanicalReduction>1</mechanicalReduction>
          </actuator>
  </transmission>
  <transmission name="back_right_prop_transmission">
          <type>transmission_interface/SimpleTransmission</type>
          <joint name="back_right_prop_joint">
                <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
          </joint>
          <actuator name="back_right_motor">
                <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
          <mechanicalReduction>1</mechanicalReduction>
          </actuator>
  </transmission>
  <transmission name="back_left_prop_transmission">
          <type>transmission_interface/SimpleTransmission</type>
          <joint name="back_left_prop_joint">
                <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
          </joint>
          <actuator name="back_left_motor">
                <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
          <mechanicalReduction>1</mechanicalReduction>
          </actuator>
  </transmission>
  <gazebo>
        <plugin name='gazebo_ros_force' filename='libgazebo_ros_force.so'>
                <alwaysON>true</alwaysON>
                <update>100</update>
                <updateRate>100.0</updateRate>
                <bodyName>front_right_prop</bodyName>
                <topicName>drone/front_right_motor_thrust</topicName>
        </plugin>
        <plugin name='gazebo_ros_force' filename='libgazebo_ros_force.so'>
                <alwaysON>true</alwaysON>
                <update>100</update>
                <updateRate>100.0</updateRate>
                <bodyName>front_left_prop</bodyName>
                <topicName>drone/front_left_motor_thrust</topicName>
        </plugin>
        <plugin name='gazebo_ros_force' filename='libgazebo_ros_force.so'>
                <alwaysON>true</alwaysON>
                <update>100</update>
                <updateRate>100.0</updateRate>
                <bodyName>back_right_prop</bodyName>
                <topicName>drone/back_right_motor_thrust</topicName>
        </plugin>
        <plugin name='gazebo_ros_force' filename='libgazebo_ros_force.so'>
                <alwaysON>true</alwaysON>
                <update>100</update>
                <updateRate>100.0</updateRate>
                <bodyName>back_left_prop</bodyName>
                <topicName>drone/back_left_motor_thrust</topicName>
        </plugin>
        <plugin name='gazebo_ros_force' filename='libgazebo_ros_force.so'>
                <alwaysON>true</alwaysON>
                <update>100</update>
                <updateRate>100.0</updateRate>
                <bodyName>drone_body</bodyName>
                <topicName>drone/drone_body_force</topicName>
        </plugin>
        <plugin name="imu_controller" filename="libgazebo_ros_imu.so">
                <alwaysON>true</alwaysON>
                <update>100</update>
                <updateRate>50.0</updateRate>
                <bodyName>drone_body</bodyName>
                <topicName>drone/imu_data</topicName>
                <gaussianNoise>2.89e-08</gaussianNoise>
                <xyzOffsets> 0 0 0 </xyzOffsets>
                <rpyOffsets> 0 0 0 </rpyOffsets>
        </plugin>
  </gazebo>

</robot>
